<!-- EM CONSTRUÇÃO -->
<!-- secondary card [home] -->
<section>
    <div class="container-fluid mt-3 pt-2">
        <div class="row">
            <div class="col-12 col-xl-6">
                <div class="home-container-main-secondary-card d-flex justify-content-center">
                    <div class="flex-fill">
                        <div class="card home-container-secondary-card position-absolute bg-white shadow">
                            <div class="card-header border-0 bg-white pb-0">
                                <h1 class="card-title home-secondary-card-kpi-title display-4 font-weight-bold text-muted mt-1">Aluguel</h1>
                            </div>
                            <div class="card-body pt-0">
                                <div class="d-flex flex-column">
                                    <div><h1 class="home-secondary-card-kpiValue-title display-4">23.478.789,6 abs</h1></div>
                                    <div><canvas id="aluguelChart"></canvas></div>
                                </div>
                            </div>
                            <div class="card-footer bg-success p-1"><h1 class="home-secondary-card-percentage-title display-4 text-center text-white">+100%</h1></div>
                        </div>
                    </div>
                    <div class="home-secondary-card-button-link"><a href="/v1/shopping" role="button" class="btn btn-sm btn-dark shadow"><i class="icon-go-arrow"></i></a></div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="home-container-main-secondary-card d-flex justify-content-center">
                    <div class="flex-fill">
                        <div class="d-block card home-container-secondary-card position-absolute bg-white shadow">
                            <div class="card-header border-0 bg-white pb-0">
                                <h1 class="card-title home-secondary-card-kpi-title display-4 font-weight-bold text-muted mt-1">Inadimplência</h1>
                            </div>
                            <div class="card-body pt-0">
                                <div class="d-flex flex-column">
                                    <div><h1 class="home-secondary-card-kpiValue-title display-4">23.478.789,6 abs</h1></div>
                                    <div><canvas id="inadimplenciaChart"></canvas></div>
                                </div>
                            </div>
                            <div class="card-footer bg-success p-1">
                                <h1 class="home-secondary-card-percentage-title display-4 text-center text-white">+0.1%</h1>
                            </div>
                        </div>
                    </div>
                    <div class="home-secondary-card-button-link"><a href="/v1/shopping" role="button" class="btn btn-sm btn-dark shadow"><i class="icon-go-arrow"></i></a></div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="home-container-main-secondary-card d-flex justify-content-center">
                    <div class="flex-fill">
                        <div class="d-block card home-container-secondary-card position-absolute bg-white shadow">
                            <div class="card-header border-0 bg-white pb-0">
                                <h1 class="card-title home-secondary-card-kpi-title display-4 font-weight-bold text-muted mt-1">Taxa de Ocupação</h1>
                            </div>
                            <div class="card-body pt-0">
                                <div class="d-flex flex-column">
                                    <div><h1 class="home-secondary-card-kpiValue-title display-4">1.278 ljs.vagas</h1></div>
                                    <div><canvas id="taxaOcupacaoChart"></canvas></div>
                                </div>
                            </div>
                            <div class="card-footer bg-danger p-1">
                                <h1 class="home-secondary-card-percentage-title display-4 text-center text-white">-0.1%</h1>
                            </div>
                        </div>
                    </div>
                    <div class="home-secondary-card-button-link"><a href="/v1/shopping" role="button" class="btn btn-sm btn-dark shadow"><i class="icon-go-arrow"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</section>