<!-- EM CONSTRUÇÃO -->
<!-- secondary card [home] -->
<section>
    <div class="container-fluid mt-3 mt-md-5 mb-3">
        <div class="row">
            <div class="col-12 col-xl-6">
                <div class="shopping-container-main-secondary-card d-flex justify-content-center">
                    <div class="flex-fill">
                        <div class="card shopping-container-secondary-card position-absolute bg-custom-success border-0 shadow">
                            <div class="card-header pb-0">
                                <div class="d-flex justify-content-between">
                                    <div class="flex-fill">
                                        <h1 class="card-title shopping-secondary-card-title float-left display-4 text-white">Leblon</h1>
                                        <h1 class="shopping-secondary-card-subtitle display-4 float-right text-white"><i class="icon-triangle-up text-dark"></i>100%</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0 pb-4">
                                <canvas id="leblonChart"></canvas>
                            </div>
                            <div class="card-footer bg-white p-0 m-0">
                                <div class="d-flex">
                                    <div class="w-50 border-right py-2">
                                        <h5 class="shopping-secondary-card-value-title text-center">1.605,7</h5>
                                        <h6 class="shopping-secondary-card-value-title text-center">m²</h6>
                                    </div>
                                    <div class="w-50 py-2">
                                        <h5 class="shopping-secondary-card-value-title text-center">23.478.789,6</h5>
                                        <h6 class="shopping-secondary-card-value-title text-center">abs</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shopping-secondary-card-button-link"><a href="/v1/shopkeeper" role="button" class="btn btn-sm btn-dark shadow"><i class="icon-go-arrow"></i></a></div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="shopping-container-main-secondary-card d-flex justify-content-center">
                    <div class="flex-fill">
                        <div class="card shopping-container-secondary-card position-absolute bg-custom-danger border-0 shadow">
                            <div class="card-header pb-0">
                                <div class="d-flex justify-content-between">
                                    <div class="flex-fill">
                                        <h1 class="card-title shopping-secondary-card-title float-left display-4 text-white">Via Parque</h1>
                                        <h1 class="shopping-secondary-card-subtitle display-4 float-right text-white"><i class="icon-triangle-up text-dark"></i>-99.5%</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0 pb-4">
                                <canvas id="viaparqueChart"></canvas>
                            </div>
                            <div class="card-footer bg-white p-0 m-0">
                                <div class="d-flex">
                                    <div class="w-50 border-right py-2">
                                        <h5 class="shopping-secondary-card-value-title text-center">1.605,7</h5>
                                        <h6 class="shopping-secondary-card-value-title text-center">m²</h6>
                                    </div>
                                    <div class="w-50 py-2">
                                        <h5 class="shopping-secondary-card-value-title text-center">23.478.789,6</h5>
                                        <h6 class="shopping-secondary-card-value-title text-center">abs</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shopping-secondary-card-button-link"><a href="/v1/shopkeeper" role="button" class="btn btn-sm btn-dark shadow"><i class="icon-go-arrow"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</section>