<!-- EM CONSTRUÇÃO -->
<!-- card graph [main] -->
<main>
    <div class="container-fluid bg-custom-lilac-2 shadow mt-4 pt-1">
        <div class="row">
            <div class="col-12">
                <div class="card bg-transparent border-0 mt-4">
                    <div class="card-header bg-transparent border-0 p-0">
                        <div class="d-flex flex-column">
                            <div><h6 class="card-title home-main-card-date-title text-center text-custom-lilac-1 display-4 mb-2">04/2018</h6></div>
                            <div><a href="/v1/shopping" role="button" class="btn btn-sm btn-dark float-right shadow mr-3 mr-md-2"><i class="icon-go-arrow"></i></a></div>
                        </div>
                    </div>
                    <div class="card-body pb-0">
                        <div class="w-100"><canvas id="mainChartjs" class="home-main-chart-container"></canvas></div>
                    </div>
                    <div class="card-footer bg-transparent border-0 mt-4 mb-4 px-sm-5 pb-0">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h1 class="home-main-card-title display-4 text-white mb-0">Venda</h1>
                                <span class="home-main-card-subtitle h6 text-white">23.478.789,6 abs</span>
                            </div>
                            <div><button type="button" class="btn btn-sm btn-danger home-main-card-button-value border-circle shadow-none">-99.9%</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>