.home-main-card-title,
.home-main-card-button-value { font-family: 'Verdana'; }
.home-main-card-subtitle     { font-family: 'Trebuchet MS'; }

/** EXTRA SMALL [SMARTPHONES] **/
@media only screen and (min-width: 320px) {
    .home-main-card-date-title   { font-size: 1.2rem;  }
    .home-main-card-title        { font-size: 1rem;    }
    .home-main-card-subtitle     { font-size: 0.8rem;  }
    .home-main-card-button-value { font-size: 0.59rem; }
}

/** SMALL [SMARTPHONES] **/
@media only screen and (min-width: 576px) {
    .home-main-card-date-title,
    .home-main-card-subtitle { font-size: 1rem; }
    .home-main-card-title    { font-size: 1.3rem; }
}