<!-- card [login] -->
<div class="card bg-white mx-auto d-block shadow p-sm-5 p-xl-4">
    <div class="card-header bg-transparent border-bottom-0">
        <!-- image [logotype] -->
        <img src="../images/logotypes/aliansce-full.png" class="img-aliansce-logotype mx-auto d-block" alt="Aliansce Shopping Centers">
    </div>
    <div class="card-body pb-0">
        <!-- templates [login] -->
        {% include 'forms/login.njk' %}
    </div>
    <div class="card-footer bg-transparent border-top-0 pt-0 pb-0">
        <!-- card-form hyperlink [need help?] -->
        <button type="button" id="btnNeedHelp" class="btn btn-link text-decoration-none mx-auto d-block">Precisa de Ajuda?</button>
    </div>
</div>