<!-- EM CONSTRUÇÃO -->
<!-- form filter [global] -->
<form class="needs-validation" novalidate>
    <div class="form-group">
        <label for="formGroupPeriods">Períodos</label>
        <select class="form-control selectpicker" title="Selecione os Períodos..." multiple required>
            <optgroup label="Período Atual" data-max-options="1">
                <option value="01/19">01/2019</option>
                <option value="02/19">02/2019</option>
                <option value="03/19">03/2019</option>
                <option value="04/19">04/2019</option>
                <option value="05/19">05/2019</option>
            </optgroup>
            <optgroup label="Período Anterior" data-max-options="1">
                <option value="01/18">01/2018</option>
                <option value="02/18">02/2018</option>
                <option value="03/18">03/2018</option>
                <option value="04/18">04/2018</option>
                <option value="05/18">05/2018</option>
            </optgroup>
        </select>
    </div>
    <div class="form-group">
        <label for="formGroupShoppings">Shoppings</label>
        <select class="form-control selectpicker" title="Selecione os Shoppings..." data-live-search="true" data-actions-box="true" data-selected-text-format="count > 2" multiple required>
            <optgroup label="Rio de Janeiro">
                <option value="">Bangu Shopping</option>
                <option value="">Boulevard Shopping Campos</option>
                <option value="">Carioca Shopping</option>
                <option value="">Caxias Shopping</option>
                <option value="">Passeio Shopping</option>
                <option value="">Pátio Alcântara</option>
                <option value="">Santa Cruz Shopping</option>
                <option value="">Shopping Grande Rio</option>
                <option value="">Shopping Leblon</option>
                <option value="">São Gonçalo Shopping</option>
                <option value="">Via Parque Shopping</option>
            </optgroup>
            <optgroup label="Minas Gerais">
                <option value="">Boulevard Shopping Belo Horizonte</option>
                <option value="">Montes Claros Shopping</option>
            </optgroup>
            <optgroup label="São Paulo">
                <option value="">Boulevard Shopping Bauru</option>
                <option value="">Continental Shopping</option>
                <option value="">Santana Parque Shopping</option>
                <option value="">Shopping Praça Nova Araçatuba</option>
                <option value="">Shopping Santa Úrsula</option>
                <option value="">Shopping Taboão</option>
                <option value="">Shopping West Plaza</option>
            </optgroup>
            <optgroup label="Espírito Santo">
                <option value="">Boulevard Shopping Vila Velha</option>
            </optgroup>
            <optgroup label="Rio Grande do Sul">
                <option value="">Shopping Praça Nova Santa Maria</option>
            </optgroup>
            <optgroup label="Distrito Federal">
                <option value="">Boulevard Shopping Brasília</option>
            </optgroup>
            <optgroup label="Bahia">
                <option value="">Boulevard Shopping Feira de Santana</option>
                <option value="">Boulevard Shopping Vitória da Conquista</option>
                <option value="">Parque Shopping Bahia</option>
                <option value="">Shopping da Bahia</option>
            </optgroup>
            <optgroup label="Alagoas">
                <option value="">Parque Shopping Maceió</option>
            </optgroup>
            <optgroup label="Ceará">
                <option value="">Shopping Parangaba</option>
            </optgroup>
            <optgroup label="Pará">
                <option value="">Boulevard Shopping Belém</option>
                <option value="">Parque Shopping Belém</option>
            </optgroup>
        </select>
    </div>
</form>