<!-- EM CONSTRUÇÃO -->
<!-- SECONDARY CARD [SHOPKEEPER] -->
<section>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center mb-5 pb-2 pb-xl-4">
                    <div class="flex-fill">
                        <div class="card container-shopkeeper-secondary-card position-absolute bg-white shadow">
                            <div class="card-header bg-white border-0 pb-0 px-sm-5">
                                <div class="d-flex justify-content-end justify-content-sm-end">
                                    <div><h1 class="card-title shopkeeper-secondary-card-percentage-title text-right display-4 text-success">+3</h1></div>
                                    <div><h1 class="card-title shopkeeper-secondary-card-percentage-subtitle text-right display-4 text-success mr-1">%</h1></div>
                                </div>
                            </div>
                            <div class="card-body pt-0 px-sm-5">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h5 class="shopkeeper-secondary-card-store-title text-left">Mc'Donalds</h5>
                                        <h6 class="shopkeeper-secondary-card-store-subtitle font-weight-light text-left">alimentação</h6>
                                    </div>
                                    <div>
                                        <h5 class="shopkeeper-secondary-card-kpiValue-title text-right mr-1">1.605,7 m²</h5>
                                        <h6 class="shopkeeper-secondary-card-kpiValue-subtitle font-weight-light text-right mr-2">23.478.789,6 abs</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5"><a href="/v1/shopkeeper/details" role="button" class="btn btn-sm btn-dark shadow"><i class="icon-go-arrow"></i></a></div>
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-center mb-5 pb-2 pb-xl-4">
                    <div class="flex-fill">
                        <div class="card container-shopkeeper-secondary-card position-absolute bg-white shadow">
                            <div class="card-header bg-white border-0 pb-0 px-sm-5">
                                <div class="d-flex justify-content-end justify-content-sm-end">
                                    <div>
                                        <h1 class="card-title shopkeeper-secondary-card-percentage-title text-right display-4 text-danger">-3</h1>
                                    </div>
                                    <div>
                                        <h1 class="card-title shopkeeper-secondary-card-percentage-subtitle text-right display-4 text-danger mr-1">%</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0 px-sm-5">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h5 class="shopkeeper-secondary-card-store-title text-left">Lojas Americanas</h5>
                                        <h6 class="shopkeeper-secondary-card-store-subtitle font-weight-light text-left">âncora</h6>
                                    </div>
                                    <div>
                                        <h5 class="shopkeeper-secondary-card-kpiValue-title text-right mr-1">1.605,7 m²</h5>
                                        <h6 class="shopkeeper-secondary-card-kpiValue-subtitle font-weight-light text-right mr-2">23.478.789,6 abs</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5"><a href="/v1/shopkeeper/details" role="button" class="btn btn-sm btn-dark shadow"><i class="icon-go-arrow"></i></a></div>
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-center mb-5 pb-2 pb-xl-4">
                    <div class="flex-fill">
                        <div class="card container-shopkeeper-secondary-card position-absolute bg-white shadow">
                            <div class="card-header bg-white border-0 pb-0 px-sm-5">
                                <div class="d-flex justify-content-end justify-content-sm-end">
                                    <div>
                                        <h1 class="card-title shopkeeper-secondary-card-percentage-title text-right display-4 text-success">+100</h1>
                                    </div>
                                    <div>
                                        <h1 class="card-title shopkeeper-secondary-card-percentage-subtitle text-right display-4 text-success mr-1">%</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0 px-sm-5">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h5 class="shopkeeper-secondary-card-store-title text-left">Ponto Frio</h5>
                                        <h6 class="shopkeeper-secondary-card-store-subtitle font-weight-light text-left">âncora</h6>
                                    </div>
                                    <div>
                                        <h5 class="shopkeeper-secondary-card-kpiValue-title text-right mr-1">1.605,7 m²</h5>
                                        <h6 class="shopkeeper-secondary-card-kpiValue-subtitle font-weight-light text-right mr-2">23.478.789,6 abs</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5"><a href="/v1/shopkeeper/details" role="button" class="btn btn-sm btn-dark shadow"><i class="icon-go-arrow"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</section>