<!-- EM CONSTRUÇÃO -->
<!-- SECONDARY CARD [SHOPKEEPER_DETAILS] -->
<section>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card bg-white shadow mb-4">
                    <div class="card-header bg-white border-0 py-4 px-sm-5">
                        <div class="w-75 py-1 rounded bg-success"></div>
                    </div>
                    <div class="card-body pt-0 pb-0 px-sm-5">
                        <div class="d-flex flex-column">
                            <div>
                                <h5 class="shopkeeperDetails-secondary-card-kpi-title text-left font-weight-light">Venda</h5>
                                <h5 class="shopkeeperDetails-secondary-card-kpiValue-title text-left">1.605,7 m²</h5>
                                <h6 class="shopkeeperDetails-secondary-card-kpiValue-subtitle font-weight-light text-left">23.478.789,6 abs</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-0 bg-transparent">
                        <div class="d-flex justify-content-end justify-content-sm-end">
                            <div><h1 class="card-title shopkeeperDetails-secondary-card-percentage-title text-right display-4 text-success">+3</h1></div>
                            <div><h1 class="card-title shopkeeperDetails-secondary-card-percentage-subtitle text-right display-4 text-success mt-2 ml-1">%</h1></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card bg-white shadow mb-4">
                    <div class="card-header bg-white border-0 py-4 px-sm-5">
                        <div class="w-75 py-1 rounded bg-danger"></div>
                    </div>
                    <div class="card-body pt-0 pb-0 px-sm-5">
                        <div class="d-flex flex-column">
                            <div>
                                <h5 class="shopkeeperDetails-secondary-card-kpi-title text-left font-weight-light">Aluguel</h5>
                                <h5 class="shopkeeperDetails-secondary-card-kpiValue-title text-left">1.005,3 m²</h5>
                                <h6 class="shopkeeperDetails-secondary-card-kpiValue-subtitle font-weight-light text-left">23.478.789,6 abs</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-0 bg-transparent">
                        <div class="d-flex justify-content-end justify-content-sm-end">
                            <div><h1 class="card-title shopkeeperDetails-secondary-card-percentage-title text-right display-4 text-danger">-3</h1></div>
                            <div><h1 class="card-title shopkeeperDetails-secondary-card-percentage-subtitle text-right display-4 text-danger mt-2 ml-1">%</h1></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card bg-white shadow mb-4">
                    <div class="card-header bg-white border-0 py-4 px-sm-5">
                        <div class="w-75 py-1 rounded bg-warning"></div>
                    </div>
                    <div class="card-body pt-0 pb-0 px-sm-5">
                        <div class="d-flex flex-column">
                            <div>
                                <h5 class="shopkeeperDetails-secondary-card-kpi-title text-left font-weight-light">C.O (Info)</h5>
                                <h5 class="shopkeeperDetails-secondary-card-kpiValue-title text-left">16 %</h5>
                                <h6 class="shopkeeperDetails-secondary-card-kpiValue-subtitle font-weight-light text-left">23.789,6 abs</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-0 bg-transparent">
                        <div class="d-flex justify-content-end justify-content-sm-end">
                            <div><h1 class="card-title shopkeeperDetails-secondary-card-percentage-title text-right display-4 text-success">+5</h1></div>
                            <div><h1 class="card-title shopkeeperDetails-secondary-card-percentage-subtitle text-right display-4 text-success mt-2 ml-1">%</h1></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card bg-white shadow mb-4">
                    <div class="card-header bg-white border-0 py-4 px-sm-5">
                        <div class="w-75 py-1 rounded bg-primary"></div>
                    </div>
                    <div class="card-body pt-0 pb-0 px-sm-5">
                        <div class="d-flex flex-column">
                            <div>
                                <h5 class="shopkeeperDetails-secondary-card-kpi-title text-left font-weight-light">Encargo Comum</h5>
                                <h5 class="shopkeeperDetails-secondary-card-kpiValue-title text-left">1.605,7 m²</h5>
                                <h6 class="shopkeeperDetails-secondary-card-kpiValue-subtitle font-weight-light text-left">23.478.789,6 abs</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-0 bg-transparent">
                        <div class="d-flex justify-content-end justify-content-sm-end">
                            <div><h1 class="card-title shopkeeperDetails-secondary-card-percentage-title text-right display-4 text-danger">-95.0</h1></div>
                            <div><h1 class="card-title shopkeeperDetails-secondary-card-percentage-subtitle text-right display-4 text-danger mt-2 ml-1">%</h1></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-1 mb-4">
            <div class="col-12">
                <a href="/v1/shopkeeper/comparative" role="button" class="btn btn-default float-right text-custom-lilac-2 bg-transparent shadow-none">Todos os Shoppings</a>
            </div>
        </div>
    </div>
</section>