<!-- header [main] -->
<header>
    <nav class="navbar navbar-expand fixed-top navbar-light bg-custom-lilac-2">
        <div class="container-fluid d-flex justify-content-between">
            <div><button type="button" class="btn btn-default header-button-filter text-custom-lilac-1 shadow-none" data-toggle="modal" data-target="#filterModal"><i class="icon-menu-options"></i></button></div>
            <div class="flex-fill text-center"><span class="navbar-brand text-white ml-4 ml-md-5 pl-3 pl-md-5">PAINEL ANALÍTICO</span></div>
            <div>
                <div class="d-flex justify-content-center">
                    <div>
                        <select class="selectpicker show-tick" data-width="59px" data-style="btn btn-default header-dropdown-menu-kpi text-custom-lilac-1 shadow-none" data-dropdown-align-right="true" data-max-options="1" title="---" multiple>
                            <optgroup label="Indicadores" class="pt-0">
                                <option value="ABS">ABS</option>
                                <option value="M²">M²</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="d-none d-md-block">
                        <div class="dropdown">
                            <a href="#" role="button" id="dropdownMenuUserAccount" class="btn btn-default dropdown-toggle header-dropdown-menu-useraccount bg-transparent rounded-0 border-0 shadow-none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" alt="..." class="header-img-dropdown-menu-useraccount rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Sair</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>